.dropdown_item_backgroud_color{
    background-color:darkgrey;
}

.dropdown-item.active{
    background-color:dimgray;
}
.dropdown-item:active{
    background-color:rgb(32, 32, 32);
}
.right_dropdown{
    right:0px; 
}

.www{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);

}
